entrypoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls: true

api:
  dashboard: true
  insecure: true

providers:
  docker:
    exposedByDefault: false


certificatesResolvers:
  letsencrypt:
    acme:
      email: tamaldas177@gmail.com
      storage: acme.json
      httpChallenge:
        entryPoint: web