theme: dark

server:
  address: tcp://0.0.0.0:9091

log:
  level: info

default_redirection_url: https://whoami.market-mitra.online

authentication_backend:
  file:
    path: /config/users.yml

access_control:
  default_policy: deny
  rules:
    - domain: "*.market-mitra.online"
      policy: one_factor

session:
  name: authelia_session
  expiration: 1h
  inactivity: 5m
  cookies:
    - domain: market-mitra.online

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt

identity_validation:
  reset_password:
    jwt_secret: ${AUTHELIA_JWT_SECRET}

