theme: dark

server:
  address: tcp://0.0.0.0:9091

log:
  level: info

authentication_backend:
  file:
    path: /config/users.yml

identity_validation:
  reset_password:
    jwt_secret: ${AUTHELIA_JWT_SECRET}

access_control:
  default_policy: deny
  rules:
    - domain: "*.market-mitra.online"
      policy: one_factor

session:
  name: authelia_session
  expiration: 1h
  inactivity: 5m
  cookies:
    - domain: market-mitra.online
      authelia_url: https://auth.market-mitra.online
      default_redirection_url: https://whoami.market-mitra.online

storage:
  local:
    path: /config/db.sqlite3

notifier:
  # filesystem:
  #   filename: /config/notification.txt
  smtp:
    address: smtp-relay.brevo.com
    port: 587
    timeout: 15s
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    sender: ${SMTP_USERNAME}
    subject: "[Market Mitra] {title}"
