theme: dark

server:
  address: tcp://0.0.0.0:9091

log:
  level: info

authentication_backend:
  password_reset:
    disable: true
  file:
    path: /config/users.yml

access_control:
  default_policy: deny
  rules:
    - domain: "*.market-mitra.online"
      policy: one_factor

session:
  name: authelia_session
  expiration: 1h
  inactivity: 5m
  secret: ${AUTHELIA_SESSION_SECRET}
  cookies:
    - domain: market-mitra.online
      authelia_url: https://auth.market-mitra.online
      default_redirection_url: https://whoami.market-mitra.online

storage:
  encryption_key: ${AUTHELIA_STORAGE_ENCRYPTION_KEY}
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    hmac_secret: ${AUTHELIA_OIDC_HMAC_SECRET}
    providers:
      - id: google
        client_id: ${GOOGLE_CLIENT_ID}
        client_secret: ${GOOGLE_CLIENT_SECRET}
        discovery_url: https://accounts.google.com
        scopes:
          - openid
          - profile
          - email
        username_claim: email
