theme: dark

server:
  address: tcp://0.0.0.0:9091
  asset_path: /config/assets

log:
  level: info

authentication_backend:
  ldap:
    implementation: custom
    address: ldap://lldap:3890
    timeout: 5s
    start_tls: false
    base_dn: dc=market-mitra,dc=online
    additional_users_dn: ou=people
    users_filter: "(&(objectClass=person)({username_attribute}={input}))"
    additional_groups_dn: ou=groups
    groups_filter: "(member={dn})"
    user: uid=admin,ou=people,dc=market-mitra,dc=online
    attributes:
      username: uid
      display_name: displayName
      mail: mail
      group_name: cn

identity_validation:
  reset_password:
    jwt_secret: ${AUTHELIA_JWT_SECRET}

access_control:
  default_policy: deny
  rules:
    - domain: "prefect.market-mitra.online"
      policy: one_factor
      subject: 
        - "group:admin"
    - domain: "traefik.market-mitra.online"
      policy: one_factor
      subject: 
        - "group:admin"
    - domain: "whoami.market-mitra.online"
      policy: one_factor
    - domain: "auth.market-mitra.online"
      policy: one_factor
    - domain: "dap.market-mitra.online"
      policy: two_factor
      subject: 
        - "group:admin"

session:
  name: authelia_session
  expiration: 1h
  inactivity: 5m
  cookies:
    - domain: market-mitra.online
      authelia_url: https://auth.market-mitra.online
      default_redirection_url: https://whoami.market-mitra.online

storage:
  encryption_key: ${AUTHELIA_STORAGE_ENCRYPTION_KEY}
  local:
    path: /config/db.sqlite3

notifier:
  smtp:
    address: 'smtp-relay.brevo.com:587'
    sender: 'Tamal Das <tamaldas177@gmail.com>'
