http:
  routers:

    whoami:
      rule: Host(`whoami.market-mitra.online`)
      entryPoints:
        - websecure
      middlewares:
        - authelia
      service: whoami
      tls:
        certResolver: letsencrypt

    prefect:
      rule: Host(`prefect.market-mitra.online`)
      entryPoints:
        - websecure
      middlewares:
        - authelia
      service: prefect
      tls:
        certResolver: letsencrypt
      priority: 10

    prefect-api:
      rule: Host(`prefect.market-mitra.online`) && PathPrefix(`/api`) && Header(`X-API-Key`, `${PREFECT_API_KEY}`)
      entryPoints:
        - websecure
      service: prefect
      tls:
        certResolver: letsencrypt
      priority: 100

    authelia:
      rule: Host(`auth.market-mitra.online`)
      entryPoints:
        - websecure
      service: authelia
      tls:
        certResolver: letsencrypt

    lldap:
      rule: Host(`dap.market-mitra.online`)
      entryPoints:
        - websecure
      service: lldap
      middlewares:
        - authelia
      tls:
        certResolver: letsencrypt

  services:
    whoami:
      loadBalancer:
        servers:
          - url: http://whoami:80

    prefect:
      loadBalancer:
        servers:
          - url: http://prefect:4200

    authelia:
      loadBalancer:
        servers:
          - url: http://authelia:9091

    lldap:
      loadBalancer:
        servers:
          - url: http://lldap:17170